.footer {
    width: 100%;
    height: 88px;
    background-color: #4C394E;
    

    &__content {
     display: flex;
     align-items: center;
     justify-content: space-between;
     justify-items: center;
   
    }

   &__copy {
   color: var(--white, #F8FDFE);
   font-family: $ui-font-cabin;
   font-size: 16px;
   font-weight: 400;
    line-height: 150%;
    padding-top: 32px;
    padding-bottom: 32px;
    }
  

  &__rights {
   color: var(--white, #F8FDFE);
   font-family: $ui-font-cabin;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   padding-top: 32px;
   padding-bottom: 32px;
  }
  
}
    
    
    
    
    
    
    