.header {
    width: 100%;

    .blue-menu{
        width: 100%;
        background-color: #10BBD5;
        display: inline-flex;
        height: 82px;
        padding: 16px 52px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__contant{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo {
            display: flex;
            gap: 4px;
            align-items:center ;
            text-decoration: none;
            font-family: $ui-font-cabin;
            color: #F8FDFE;
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            height: 28px;
          }
        
        &__cart {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
        }

        &__cart-price {
            display: block;
            font-family: $ui-font-cabin;
            color: #F8FDFE;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; 
            width: 51px;      
        }

        &__cart-btn {
            position: relative;
            text-align: center;
            color: #000;
            font-family: $ui-font-cabin;
            text-decoration: none;
            width: 40px;
            height: 40px;
            background-image:url(../images/cart_icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            background-color: #10BBD5;
            cursor: pointer;
        }

        .zero{
            position: absolute;
            left: 23px;
            top: 17px ;
            transform: translate( -50%, -50% );
            font-family: $ui-font-cabin;
            font-size: 12px;
            font-weight: 400;
            line-height: 83.333%;   
        }

    }
    .grey-menu {
        width: 100%;
        height: 24px;
        display: inline-flex;
        padding: 4px 52px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #FFF;

       &__contant {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            color: #000;
          font-family: $ui-font-cabin;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5; 
         }

       &__right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 40px;
        }

       &__right-link{
            color: #000;
            font-family: $ui-font-cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5; 
        }

}

}






