#placeholder {
    height: 96px; 
}

.chat-btn {

    border: none;
    background-color: #ffffff00;
    margin-top: 642px;
    margin-right: 28px;
    width: 64px;
    height: 64px;
    background-image: url(../images/chat-icon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.chat-btn:hover {
    transform: rotate(12.05deg);
}

.catalog {
    background-color: var(--beige, #EEEEEF);
    width: 100%;
    padding-top: 96px;
    margin-top: 32px;
}

.title {
    color: #1F1F1F;
    font-family: $ui-font-cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25; 
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 23px;
}
    
.catalog__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 120px;
  margin-top: 24px;
}

.card {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2; 
  border: 1px solid #8E8E8E;
  background-color: #F8FDFE;
  padding: 32px;

  &__buns {
   position: absolute;
   display: inline-flex;
   align-items: flex-start;
   gap: 4px;
  }

 &__bun-item--blue {
    color: #F8FDFE;
    font-family: $ui-font-cabin;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    width: 36px;
    background-color: #4200FF;
 }

 

 &__bun-item--violet {  
  color: #F8FDFE;
  font-family: $ui-font-cabin;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 47px;
  height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #AF39E7;
 }


 &__bun-item--pink{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8FDFE;
  font-family: $ui-font-cabin;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
  width: 70px;
  height: 32px;
  border-radius: 4px;
  background-color: #EA33C0;
 }
   
 &__fill {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
 }

 &__image-holder {
  width: 100%;
 }

 &__image {
  width: 100%;
  height: 280px;
  object-fit: contain;
  object-position: center;
 }

 &__titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

&__title{
  width: 100%;
 text-decoration: none;
 color: var(--black, #1F1F1F);
 font-family: $ui-font-cabin;
 font-size: 20px;
 font-weight: 700;
 line-height: 1.4; 
 border-bottom: 1px solid #A8A8A8; 
 display: -webkit-box;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;  
 overflow: hidden; 
}

 &__title--grey {
  width: 100%;
  color: #8E8E8E;
  font-family: $ui-font-cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
}

&__price--red {
 text-decoration: none;
 color: #E90000;
 font-family: $ui-font-cabin;
 font-size: 24px;
 font-weight: 500;
 line-height: 1.33; 
 }

 &__price--grey {
 text-decoration: line-through;
position: relative;
 color:#8E8E8E;
 font-size: 24px;
 font-weight: 500;
 line-height: 1.33; 
 font-family: $ui-font-cabin;
}

 &__button--violet{
 width: 100%;
 display: flex;
 padding: 8px 24px;
 justify-content: center;
 align-items: center;
 align-self: stretch;
 color: #F8FDFE;
 text-align: center;
 font-family:$ui-font-cabin;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5; 
 border-radius: 4px;
 background: #4C394E;
 }
            
 &__button--violet:hover {
 background: #744978;
}

&__button--green{
 width: 100%;
 display: flex;
 padding: 8px 24px;
 justify-content: center;
 align-items: center;
 align-self: stretch;
 color: #F8FDFE;
 text-align: center;
 font-family:$ui-font-cabin;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.5; 
 border-radius: 4px;
 background: #4D762D;
}
            
&__button--green:hover {
 background: #6DB236
}

&__two-prices {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap:24px;
}
   
}

    

  





    




//     .card__titles {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         h3 {
//            width: 100%;
//             text-decoration: none;
//             color: var(--black, #1F1F1F);
//             font-family: $ui-font-cabin;
//             font-size: 20px;
//             font-weight: 700;
//             line-height: 1.4; 
//             border-bottom: 1px solid #A8A8A8; 
//             display: -webkit-box;
//            -webkit-line-clamp: 1;
//            -webkit-box-orient: vertical;  
//            overflow: hidden;
//         }
            
//         h4 {
//             width: 100%;
//           color: #8E8E8E;
//           font-family: $ui-font-cabin;
//           font-size: 16px;
//           font-weight: 400;
//           line-height: 1.5; 
//         }
//     }

//     .catalog__red-price {
//         width: 100%;
//         text-decoration: none;
//         color: #E90000;
//         font-family: $ui-font-cabin;
//         font-size: 24px;
//         font-weight: 500;
//         line-height: 1.33; 
//     }

//     .catalog__grey-price {
//         width: 100%;
//         text-decoration: line-through;
//         color:#8E8E8E;
//         font-size: 24px;
//         font-weight: 500;
//         line-height: 1.33; 
//         font-family: $ui-font-cabin;

//     }

//     .catalog__card-button {
//      border: none;
//      color: #F8FDFE;
//      width: 100%;
//      height: 40px;
//      border-radius: 4px;
//      display: flex;
//      padding: 8px 24px;
//      justify-content: center;
//      align-items: center;
//      align-self: center;
//      font-size: 16px;
//      font-weight: 400;
//      line-height: 1.5; 
//     }

//     .catalog__violet-button {
//         width: 100%;

//         font-family: "Cabin";
//         background-color: var(--eggplant, #4C394E);
//         }
        
//    .catalog__violet-button:hover {
//      background: #744978;
//    }

//    .catalog__green-button{
//     width: 100%;

//     font-family: "Cabin";
//     background-color: var(--eggplant, #4D762D);
//     }

//    .catalog__green-button:hover {
//         background: #6DB236;
//     }

//     .catalog__two-prices {
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap:24px;
//     }
// }
    