// тут записуються загальні стилі для тегів та класів
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 0 52px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4; 
}

.fixed-btn {
    z-index: 7;
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
}

button {
    cursor: pointer;
    border: none;
}

.too-much-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


